<!doctype html>
<html lang="zh-CN" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>融们邦</title>
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css"/>
  <link rel="stylesheet" href="lib/bootstrap/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="lib/bootstrap/buttons.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <div class="row-fluid" ng-controller="PlayerController">
    <a ng-click="play()" class="btn btn-default" ng-show="!playing">Play</a>
    <a ng-click="stop()" class="btn btn-default" ng-show="playing">Stop</a>
    Playing audio: <b>{{ playing }}</b>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-bootstrap/bootstrap.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
